<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="form">
        <div class="form-title">
            <h2>Register</h2>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages%}
            <p>{{message}}</p>
            {%endfor%}
            {%endif%}
            {%endwith%}

        <form action="{{ url_for('register') }}" method ="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
            <input name="first" type="text" class="register-input" placeholder="First Name" required/>
            <input name="last" type="text" class="register-input" placeholder="Last Name" required/>   
            <input name="email" type="email" class="register-input" placeholder="Email" required/>
            <input name="password" type="password" class="register-input" placeholder="Password" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}" title="Password must be at least 8 charaters, contain an uppercase and lowercase letter, and a number."/>
            <input name="phone" type="tel" class="register-input" placeholder="Phone Number" required/>
        
            <button type="submit" class="btn">Register</button>
        </form>
    </div>
</body>
</html>
