<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registration - Moffat Bay Lodge</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Open+Sans&display=swap" rel="stylesheet" />
</head>
<body>

  <!-- HEADER + NAVIGATION BAR -->
  {% include "partials/header_and_navbar.html" %}

  <main class="page-content">
    <section class="basic-section">
      <h1>Create Your Account</h1>
      <div class="register-form">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div>
        {% for category, message in messages %}
          <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

        <form action="{{ url_for('registration') }}" method ="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            
            <div class ="name-grouping">
              <input name="first" type="text" class="name-input" placeholder="First Name" required/>
              <input name="last" type="text" class="name-input" placeholder="Last Name" required/>
            </div>

            <input name="email" type="email" class="register-input" placeholder="Email" required/>
            
            <input name="password" type="password" class="register-input" placeholder="Password" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}" title="Password must be at least 8 characters, contain an uppercase and lowercase letter, and a number."/>
            
            <input name="phone" type="tel" class="register-input" placeholder="Phone Number" required/>
        
            <button type="submit" class="btn-register">Register</button>
        </form>
    </div>
    </section>
  </main>

<!-- FOOTER WITH PAGE LINKS -->
{% include "partials/footer.html" %}

<!-- LOGIN MODAL (Pop-up Overlay) -->
{% include "partials/login_modal.html" %}

<!-- Login Modal Script -->
    <script src="{{ url_for('static', filename='js/loginModal.js') }}"></script>

</body>
</html>